<table class="table">
    <thead>
      <tr>
        <th scope="col">Competição</th>
        <th scope="col">Título(s)</th>
        <th scope="col">Temporada(s)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Tríplice Coroa</th>
        <td>1</td>
        <td>2013</td>
      </tr>
      <tr>
        <th scope="row">Copa do Mundo de Clubes da FIFA</th>
        <td>2</td>
        <td>2000 e 2012</td>
      </tr>
      <tr>
        <th scope="row">Copa Libertadores da América</th>
        <td>1</td>
        <td>2012</td>
      </tr>
      <tr>
        <th scope="row">Copa Sul-Amreicana</th>
        <td>1</td>
        <td>2013</td>
      </tr>
      <tr>
        <th scope="row">Campeonato Brasileiro</th>
        <td>7</td>
        <td>1990, 1998, 1999, 2005, 2011, 2015 e 2017</td>
      </tr>
      <tr>
        <th scope="row">Copa do Brasil</th>
        <td>3</td>
        <td>1995, 2002 e 2009</td>
      </tr>
      <tr>
        <th scope="row">Supercopa do Brasil</th>
        <td>1</td>
        <td>1991</td>
      </tr>
      <tr>
        <th scope="row">Campeonato Brasileiro - Série B</th>
        <td>1</td>
        <td>2008</td>
      </tr>
      <tr>
        <th scope="row">Torneio Rio-São Paulo</th>
        <td>3</td>
        <td>1950, 1953, 1954, 1966 e 2002</td>
      </tr>
      <tr>
        <th scope="row">Taça dos Campeões Rio-São Paulo</th>
        <td>2</td>
        <td>1929e 1941</td>
      </tr>
      <tr>
        <th scope="row">Campeonato Paulista</th>
        <td>30</td>
        <td>1914, 1916, 1922, 1923, 1924, 1928, 1929, 1930,<br>
            1937, 1938, 1939, 1941, 1951, 1952, 1954, 1977,<br>
            1979, 1982, 1983, 1988, 1995, 1997, 1999, 2001,<br>
            2003, 2009C, 2013, 2017, 2018 e 2019</td>
      </tr>
      <tr>
        <th scope="row">Copa Bandeirantes</th>
        <td>1</td>
        <td>1994</td>
      </tr>
      <tr>

    </tbody>
  </table>  