
<form style="background-color:silver; padding: 20px">

    <div class="row">

        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label"><b>Nome / Name</b></label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"><b>E-mail</b></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Nós não compartilhamos seu e-mail com ninguém</div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-md-3">
            <div class="mb-3">
                <label class="form-label"><b>Telefone / Phone</b></label>
                <input type="number" class="form-control">
            </div>
        </div>

        <div class="col-md-3">
            <div class="mb-3">
                <label class="form-label"><b>Cidade / City</b></label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-md-3">
            <div class="mb-3">
                <label class="form-label"><b>Estado / State</b></label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-md-3">
            <div class="mb-3">
                <label class="form-label"><b>País / Country</b></label>
                <input type="text" class="form-control">
            </div>
        </div>

    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Aceito compartilhar minhas informações com o site</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>